<script src="app.component.ts"></script>
<div style="text-align: left">
<h1>
  Punto uno = {{fecha1}} => {{fecha1 | date1}}
</h1>
<h1>
  Punto dos = {{fecha2}} => {{fecha2 | date2}}
</h1>
<h1>
  Punto tres = {{fecha3}} => {{fecha3 | date3}}
</h1>
<h1>
  Punto cuatro = {{fecha4}} => {{fecha4 | date4}}
</h1>
<h1>
  Punto cinco = {{fecha5}} => {{fecha5 | date5}}
</h1>
<h1>
    Punto seis = {{fecha6}} => {{fecha6 | date6}}
</h1>
<h1>
    Punto siete = {{fecha7}} => {{fecha7 | date7}}
</h1>
<h1>
    Punto ocho =  {{num1}} => {{num1 | pipeElevado}}
</h1>
<h1>
    Punto nueve = {{var1}} =>  {{var1 | myPipe}}
</h1>
<h1>
    Punto diez = {{var2}} =>  {{var2 | myPipe}}
</h1>
<h1>
    Punto once = {{var3}} =>  {{var3 | myPipe}}
</h1>
</div>
